/* Variables */
:root {
    --var--white--color: #fff;
    --var--blue-color: #0078FF;
    --var--title-color: RGB(30, 30, 30);
    --var--blue-light-color:#cde1f8;
}
body {
    background-color: #F5F5F5;
}

.detailes {
    background-image: url(../images/overlay-bg.jpg);
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}
.detailes .layer {
    background-color: rgba(13, 110, 253, .7);
    height: 65vh;
}
.detailes .layer h1 {
    font-size: 56px !important;
}
.detailes .layer p span {
    color: var(--var--blue-light-color) !important;
}
/*Start  detailes-info */
#carouselExampleIndicators > div.carousel-indicators > button {
    margin-top: -150px;
}
/* End detailes-info */

/* blog page  Stayle */
.blog-info .card-item3  .replay-item  #name,
.blog-info .card-item3  .replay-item #email {
    width: 48% !important;
}
.sidebar .sidebar-item1 input {
    height: 37px;
}
.sidebar .sidebar-item2 ul li::before {
    position: absolute;
    content: "";
      background-color: var(--var--blue-color);
    font-size: 20px;
    left: -25px;
    top: 22px;
    width: 12px;
    height: 1px;
}
.sidebar .sidebar-item4 .buttons a {
    border-radius: 20px;
    padding: 8px 15px;
}